/*类似心跳*/
@keyframes pulse {
    0% {
          -webkit-transform: scale3d( 1,1 ,1) ;
          -ms-transform: scale3d( 1,1 ,1) ;
          transform: scale3d( 1,1 ,1)
    }

    50% {
          -webkit-transform: scale3d( 1.05,1.05 ,1.05) ;
          -ms-transform: scale3d( 1.05,1.05 ,1.05) ;
          transform: scale3d( 1.05,1.05 ,1.05)
    }

    100% {

          -webkit-transform: scale3d( 1,1 ,1) ;
          -ms-transform: scale3d( 1,1 ,1) ;
          transform: scale3d( 1,1 ,1)
    }
}

.pulse {
    -webkit-animation:pulse 1s ease-in infinite;
}


@keyframes swing {
    20% {
          -webkit-transform: rotate3d( 0,0 ,1, 15deg) ;
          -ms-transform: rotate3d( 0,0 ,1, 15deg) ;
          transform: rotate3d( 0,0 ,1, 15deg)
    }

    40% {
          -webkit-transform: rotate3d( 0,0 ,1, -10deg) ;
          -ms-transform: rotate3d( 0,0 ,1, -10deg) ;
          transform: rotate3d( 0,0 ,1, -10deg)
    }

    60% {
          -webkit-transform: rotate3d( 0,0 ,1, 5deg) ;
          -ms-transform: rotate3d( 0,0 ,1, 5deg) ;
          transform: rotate3d( 0,0 ,1, 5deg)
    }

    80% {
          -webkit-transform: rotate3d( 0,0 ,1, -5deg) ;
          -ms-transform: rotate3d( 0,0 ,1, -5deg) ;
          transform: rotate3d( 0,0 ,1, -5deg)
    }

    100% {
          -webkit-transform: rotate3d( 0,0 ,1, 0deg) ;
          -ms-transform: rotate3d( 0,0 ,1, 0deg) ;
          transform: rotate3d( 0,0 ,1, 0deg)
    }
}

.swing {
    -webkit-transform-origin : top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    animation: swing 2s ease-in infinite;
    -webkit-animation:swing 2s ease-in infinite;
}